dt, dd{
    display: inline-block;
    margin:0;
}
dt{
    width:30%;
    word-wrap: break-word;
    color: #444444;
}
dd{
    width:69%;
    word-wrap: break-word;
    color: #24385E;
}
.ro-header{
    font-size: 16px;
}