canvas{
	border:2px solid #ddd;
	background: transparent;
	margin: auto;
}
​
.canvas-header {
	font-size: 30%;
}
​
.footer {
	font-size: 20%;
}
.borer-bottom {
    border-bottom: 2px solid blue;
}
.font-color{
    color: grey;
}